@use '../helpers' as *;

.catalog {
  margin-top: 8px;
  padding-bottom: 18px;
  padding-top: 84px;
  padding-left: 100px;
  height: 1000px;

  background-image: url('../../images/gamepad.png'), var(--gradient);
  background-repeat: no-repeat;
  background-position: right top;
  background-blend-mode: normal;
  background-size: 572px auto, cover;

  @include tablet {
    padding-top: 40px;
    padding-left: 20px;
    background-size: 350px auto, cover;
    background-position: right bottom;
  }

  @include mobile {
    min-height: 504px;
    padding-bottom: 0;
    padding-top: 32px;
    padding-left: 15px;

    background-image: url('../../images/gamepad-mobile.png'), var(--gradient);
    background-position: right bottom;
    background-size: 170px auto, cover;
  }



  &__title {
    font-size: 32px;
    max-width: 729px;
    width: 100%;

    @include tablet {
      max-width: 450px;
      font-size: 26px;
    }

    @include mobile {
      max-width: 330px;
      font-size: 24px;
    }
  }

  &__text {
    margin-block: 26px;
    font-family: var(--font-family-accent);
    font-size: 18px;
    max-width: 620px;
    width: 100%;
    line-height: 24px;
    color: var(--color-light);

    @include tablet {
      max-width: 450px;
      font-size: 16px;
    }

    @include mobile {
      max-width: 330px;
      font-size: 14px;
      height: 70px;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__button {
    border: none;
    width: 149px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
    color: var(--color-violet);
    border-radius: 8px;
    font-size: 16px;
  }
}